# Archivos compilados
target/
*.class
*.jar
*.war
*.ear

# Eclipse/Spring Tool Suite
.settings/
.classpath
.project
.metadata/
bin/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Maven
.mvn/
mvnw
mvnw.cmd

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Base de datos local
*.db
*.sqlite
